
.parent-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  /* background-color: #003580; */
  height: 100vh;
}
.formTitle{
  display: flex;
  justify-content: center;
}

  .other-element {
    margin-bottom: 100px; 
  }
  .syngne-logo {
    width: 250px; /* Adjust the width as needed */
  }
  .login-form {
    width: 20rem;
    background-color: #003580;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  
  .login-form h2 {
    margin-bottom: 20px;
  }

  .form-control {
    margin-bottom: 20px;
  }
  
  .form-control label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* button:hover {
    background-color: white;
  } */
  .login-popup-error{
    padding: 2rem;
    background-color: #f0f0f0;
  }
  .password-input-container {
  position: relative;
}

.password-input-container input[type="password"] {
  padding-right: 30px; /* Adjust the padding to leave space for the icon */
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 5px; /* Adjust the position of the icon */
  transform: translateY(-50%);
  cursor: pointer;
}